
<div class="footer">  
    <div class="row">
        <div class="col-sm-2 copy-rights" > <img src="./assets/logos/logo-2.png" ></div>
        <div class="col-sm-4 copy-rights" ><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p></div>
        <div class="col-sm-6 copy-rights" >
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 footer-link"> > Featured</div>
                <div class="col-sm-4 col-lg-4 col-md-4 footer-link"> > Feedback</div>
                <div class="col-sm-4 col-lg-4 col-md-4 footer-link"> > Ask a Question</div>
                <div class="col-sm-4 col-lg-4 col-md-4 footer-link"> > Team </div>
              </div>

        </div>
      </div>
<hr>
   
<span class = "copy-rights align-right">© 2018 tabib Health Directory | All Right Reserved.</span>
<span class="social-icon">
   <a href="#" class="social-icons"> <span class="fa fa-facebook s-icons"></span></a>
   <a href="#" class="social-icons"> <span class="fa fa-youtube s-icons"></span></a>
   <a href="#" class="social-icons"><span class="fa fa-linkedin s-icons"></span></a>
   <a href="#" class="social-icons"><span class="fa fa-google-plus-circle s-icons"></span></a>
   <a href="#" class="social-icons"> <span class="fa fa-twitter s-icons"></span> </a>
   <a href="#" class="social-icons"><span class="fa fa-rss s-icons"></span> </a>    
</span>

</div>

