.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #0864b2;
    color: rgb(11, 12, 11);
    table-layout: auto;
    padding: 40px;
    
}


.copy-rights {
    color:white;
}

.footer-link {
    padding: 10px;
    color:white;
}

hr { background-color: white; height: 1px; border: 0; }

.align-right {
    text-align:left;
}

.social-icon {
    margin-left: 40%;
    color: white;
}

.social-icons {
    color: white;
}
.s-icons {
    padding: 10px;
}
