.doctore-text{
    color: #0864b2;
    padding: 10%;
}
.text-main-color{
    color: #0864b2;
    padding: 15%
}
.text-grey-2{
    color: rgb(25, 29, 28);
    padding: 2%;
}
.box{
    height: 500px;
    width: 100%;
    background-color: aliceblue;
}
.row no-gutters{
    color: rgb(236, 22, 22);
    height: 10px;
    width: 100%;
}
.text-lime{
    color:lawngreen;
}
.text-red{
    color: pink;
}
.grow {
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
  }
  
  .grow:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
  }
  .container{

    padding:5%;
  }