
<div class = "box">
<div class="container">
  <div class="row">
     <div class="col-xs-3 col-sm-3 col-md-3">
      <h3>Reliable Places</h3>
      <span class="glyphicon glyphicon-map-marker"></span><p class="text">
        Lorem lpsum is a simple dummy text of the printing and type setting industry.
        ipsum has been the industrys standard dummy
      </p>
     
     </div>
     <div class="col-xs-3 col-sm-3 col-md-3">
      <h3>Reliable Places</h3>
      <span class="glyphicon glyphicon-map-marker"></span>
      <i class="glyphicon glyphicon-map-marker"></i>
      <p class="text">
        Lorem lpsum is a simple dummy text of the printing and type setting industry.
        ipsum has been the industrys standard dummy
      </p>
     
     </div>
     <div class="col-xs-3 col-sm-3 col-md-3">
      <h3>Reliable Places</h3>
      <span class="glyphicon glyphicon-map-marker"></span>
      <i class="glyphicon glyphicon-map-marker"></i>
      <p class="text">
        Lorem lpsum is a simple dummy text of the printing and type setting industry.
        ipsum has been the industrys standard dummy
      </p>
     
     </div>
     <div class="col-xs-3 col-sm-3 col-md-3">
      <h3>Reliable Places</h3>
      <span class="glyphicon glyphicon-map-marker"></span>
      <i class="glyphicon glyphicon-map-marker"></i>
      <p class="text">
        Lorem lpsum is a simple dummy text of the printing and type setting industry.
        ipsum has been the industrys standard dummy
      </p>
     
     </div>
     <span class="glyphicon glyphicon-map-marker"></span>
 </div>
</div>