
<div class = "box">
 <div class="app flex-row align-items-center">   
    <div class="container "> 
        <div class="card-deck row "  >
            <div class="card  col-xs-3 col-sm-3 col-md-3 float" *ngFor='let x of seclist'>
                <div class="images float"> <img [src]="x.imag" alt="Avatar"  /></div>
                <div ><br/>
                    
                        <h3>{{x.name}}</h3>
                        <p class="text">
                         {{x.massage}}</p>
                      
            </div>
        </div>
    </div>
</div>

</div>