<div class = "box">
<div class="container">
  <div class="row" *ngFor='let x of text'>
      <div class="col-xs-4 col-sm-4 col-md-4" >
  <h4 class="doctore-text">{{x.heading}}</h4>
</div>
<div class="col-xs-6 col-sm-6 col-md-6">
    <p class="text-grey-2">{{x.message}}</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 ">
      <a href="#" class="text-main-color margin-tb-15px d-inline-block">
        <span class="d-block float-left margin-right-10px margin-top-5px">{{x.link}}</span> </a>
  </div>
</div>
</div>
<div class="app flex-row align-items-center ">   
    <div class="container"> 
        <div class="card-deck row">
            <div class="card  col-xs-3 col-sm-3 col-md-3 float" *ngFor='let doctor of doctorslist'>
                <div class="images"></div><a class = "navItem" [routerLink] = "['/doctorsdetails']">
                 <img [src]="doctor.img" alt="Avatar" style="width:100%" /></a>
                
                    <div class="container">
                        <h4><b>Dr.{{doctor.name}}</b></h4> 
                        <p>{{doctor.degination}}</p>
                    </div> 
                      </div>
                    
        </div>
    </div>
</div>
<router-outlet></router-outlet>


  </div>
  
        
       

  
  <router-outlet></router-outlet>