.box{
  height:100%;
  background-color: antiquewhite;
  width: 100%;
  padding: 0%;
  

}
.doctore-text{
  color: #0864b2;
  padding: 10%;
}
.text-main-color{
  color: #0864b2;
  padding: 15%
}

.text-grey-2{
  color: #000;
  padding: 2%;

  
}
.caimagerd{
  height: 100%;
  width: 100%;
  float: right;
  
}
.container{
  padding: 2%;}
  .row{
    padding: 2%;
  }
  
.float {
  -webkit-transition:all .4s ease-out;
  -moz-transition:all .4s ease-out;
  -ms-transition:all .4s ease-out;
  -o-transition:all .4s ease-out;
  transition:all .4s ease-out;
}

.float:hover {
  -webkit-transform:translate(0px,-15px);
  -moz-transform:translate(0px,-15px);
  -ms-transform:translate(0px,-15px);
  -o-transform:translate(0px,-15px);
  transform:translate(0px,-15px);
}
.image {
  
  width: 100%;
  margin: 0%;
}
.imagee{
  margin-top: 0%;
  padding: 2%;
}