<div class="text-title-large ">
  <h1>Health Directory</h1>
  <h6>A better Doctors , Clinics & Labs . We'll help you find it</h6>
</div>
<br>

<div class="listing-search">
  <div class="row">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input id="email" type="text" class="form-control" name="email" placeholder="Email">
        </div>
      <div class="col-sm-2 col-md-2 col-lg-2 first-search-input">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input class="form-control" type="text" placeholder="Keywords..." value="">
        <i class="fa fa-search"></i>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 next-search-input">
        <input class="form-control" type="text" placeholder="All Regions" value="">
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 next-search-input">
        <input class="form-control" type="text" placeholder="All categories" value="">
      </div> 
      <div class="col-sm-2 col-md-2 col-lg-2 next-search-input">
        <a class="btn btn-primary" href="#">Search Now</a>
      </div> 
    
    <!-- </div> -->
  </div>
  
  <div>
    <span class="images">

      <img src="./assets/logos/categorie-1.png" > Doctors
      
    </span>
    <span class="images">

      <img src="./assets/logos/categorie-2.png"> Clinics
    </span>
    <span class="images">

      <img src="./assets/logos/categorie-3.png"> Labs
    </span>
  </div>

</div>